@import url('https://use.fontawesome.com/releases/v5.12.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

.btn {
  all: unset;
  border: 1px solid '#709ef5';
}

.btn{
  height: 40px;
  background-color: #709ef5;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  text-align: center;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn:hover{
  cursor: pointer;
  opacity: 0.8;
}


.content{
  width: 100%;
}
.sidebar-head{
  background-color: #709ef5;
  padding: 10px 10px;
  color: white;
}
.sidebar-head h3 {
  margin: 0;
  font-size: 30px;
  letter-spacing: 0.5;
}
.menu{
  margin-top: 20px;
  height: 100%;
}
.menu a {
  text-decoration: none;
  color: grey;
  font-size: 16px;
  font-weight: 600;
}
.menu :hover{
  
  opacity: 0.5;
  cursor: pointer;
}
.header{
  background-color: black;
  height: 60px;
}
.router-content{
  padding: 20px;
}
.user-management-container{
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px;
}
hr{
  border: 1px solid black;
}
.user-menu{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
}
.div-btn{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.div-head{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th{
  background-color: #709ef5;
  color: white;
  font-weight: 500;
}
td, th {
  border: 1px solid #d5d5d5;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e6ebf3;
}

.section{
  padding: 15px;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eff6ff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8cdf3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #709ef5; 
}

