

.input{
  margin-bottom: 20px;
  height: 30px;
  padding: 10px 10px;
  line-height: 16px;
}

.btn{
  height: 40px;
  background-color: #709ef5;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
}

.btn:hover{
  cursor: pointer;
  opacity: 0.8;
}



.content{
  width: 100%;
}
.sidebar-head{
  background-color: #709ef5;
  padding: 10px 10px;
  color: white;
}
.sidebar-head h3 {
  margin: 0;
  font-size: 30px;
  letter-spacing: 0.5;
}
.menu{
  margin-top: 20px;
  height: 100%;
}
.menu a {
  text-decoration: none;
  color: grey;
  font-size: 16px;
  font-weight: 600;
}
.menu :hover{
  
  opacity: 0.5;
  cursor: pointer;
}
.header{
  background-color: black;
  height: 60px;
}
.router-content{
  padding: 20px;
}
.user-management-container{
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 25px;
}
hr{
  border: 1px solid black;
}
.user-menu{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
}
.div-btn{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.div-head{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid black;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #709ef5;
  color: white;
}